@page
@model WebClient.Pages.categoryModel
@{
    ViewData["Title"] = "category";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section class="site-section pt-5">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-6">
                <h2 class="mb-4">Thể loại: @Model.CategoryName</h2>
            </div>
        </div>
        <div class="row blog-entries">
            <div class="col-md-12 col-lg-2 main-content"></div>
            <div class="col-md-12 col-lg-8 main-content">
                <div class="row mb-5 mt-5">

                    <div class="col-md-12" id="list-category-post">
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-md-12 text-center">
                        <nav aria-label="Page navigation" class="text-center">
                            <ul id="pagination"></ul>
                        </nav>
                    </div>
                </div>



            </div>
            <div class="col-md-12 col-lg-2 main-content"></div>
            <!-- END main-content -->
            <!-- END sidebar -->

        </div>
    </div>
</section>

<script id="hidden-template" type="text/x-custom-template">
    <div class="post-entry-horzontal">
        <a href="${link}">
            <div class="image" style="background-image: url('${image}');"></div>
            <span class="text">
                <div class="post-meta">
                    <span class="mr-2"><i class="fa fa-pencil" aria-hidden="true"></i>${authorName}</span>&bullet;
                    <span class="mr-2"><i class="fa fa-envelope" aria-hidden="true"></i> ${posterName}</span>&bullet;
                    <span class="mr-2"><i class="fa fa-eye" aria-hidden="true"></i> ${totalVisit}</span>&bullet;
                    <span class="ml-2"><i class="fa fa-book" aria-hidden="true"></i> ${totalchapter}</span>
                </div>
                <h2>${name}</h2>
                <span class="badge badge-info status">${status}</span>

            </span>
        </a>
    </div>
</script>
@section scripts{
    <script>
            $(document).ready(function () {
                LoadStory();
        });
      
            function LoadStory() {
                $.ajax({
                    url: `${configuration.BASE_API_URL}Story/getStoriesByCategory?cateSeoName=@Model.SeoName`,
                    method: "GET",
                    success: function (result) {
                        Pagination(result.data);
                       
                    },
                    error: function (result) {
                        alert("Có lỗi xảy ra!")
                    }
                });
            }
        function Pagination(sources) {
            var container = $('#pagination');
            var options = {
                dataSource: sources,
                pageSize: 5,
                callback: function (response, pagination) {
                    window.console && console.log(response, pagination);

                    var dataHtml = '';
                    $.each(response, function (key, value) {
                        var story = $('#hidden-template').text();
                        story = story.replace("${image}", value.imageUrl);
                        story = story.replace("${authorName}", value.authorName);
                        story = story.replace("${lastUpdateDate}", value.categoryName);
                        story = story.replace("${totalchapter}", value.totalChapters);
                        story = story.replace("${totalVisit}", value.totalVisit);
                        story = story.replace("${name}", value.name);
                        story = story.replace("${posterName}", value.posterName);
                        story = story.replace("${statusCode}", value.status);
                        story = story.replace("${link}", "/chapterList?seoName=" + value.seoName + "&storyName=" + value.name);
                        var text;
                        var data = value.status;
                        $('.status').append("");
                        if (data == 0) {
                            text = "Đang Ra"
                        } else if (data == 1) {
                            text = "Hoàn Thành"
                        } else if (data == 2) {
                            text = "droped"
                        }
                        story = story.replace("${status}", text);
                        dataHtml += story;
                    });
                    dataHtml += '';

                    $("#list-category-post").html(dataHtml);
                }
            };

            container.addHook('beforeInit', function () {
                window.console && console.log('beforeInit...');
            });
            container.pagination(options);

            container.addHook('beforePageOnClick', function () {
                window.console && console.log('beforePageOnClick...');
                //return false
            });
        }
    </script>
}
