@page
@model WebClient.Pages.SingleChapterModel
@{
    ViewData["Title"] = "singlechapter";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section class="site-section py-lg">
    <div class="container">

        <div class="row blog-entries element-animate">

            <div class="col-md-12 col-lg-12 main-content">
                <a href="" id="linkstory">
                    <h1 class="mb-4" id="StoryName"></h1>
                </a>
                <a class="category" href="#" id="categoryName"></a>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <nav aria-label="Page navigation" class="text-center">
                            <ul class="pagination" id="paginationhead"></ul>
                        </nav>
                    </div>
                </div>
                <h4 class="mb-4" id="chapterName"></h4>
                <div id="info">

                </div>
                <div class="post-content-body">

                </div>
                <div class="row mt-5">
                    <div class="col-md-12 text-center">
                        <nav aria-label="Page navigation" class="text-center">
                            <ul class="pagination" id="pagination"></ul>
                        </nav>
                    </div>
                </div>
            </div>

           
        </div>
    </div>
</section>




<script id="hidden-template" type="text/x-custom-template">
    <div class="post-meta">
        <span class="author mr-2" id="authorName"></span>&bullet;
        <span class="mr-2">${createDate} </span> &bullet;
        <span class="ml-2"><span class="fa fa-eye"></span> ${totalVisit}</span>
    </div>
</script>

@section scripts{
<script>
            $(document).ready(function () {
                LoadChapter();
                LoadStory();
    });
    var currentChapter = 0;
            function LoadChapter() {
                $.ajax({
                    url: `${configuration.BASE_API_URL}Chapter/getDetailClient/@Model.chapterId`,
                    method: "GET",
                    success: function (result) {
                        $('.post-content-body').append(result.data.detail);
                        $("#chapterName").text("Chương " + result.data.position + ": " + result.data.name);
                            var story = $('#hidden-template').text();
                        story = story.replace("${name}", result.data.name);
                        story = story.replace("${createDate}", result.data.createTime);
                        story = story.replace("${totalVisit}", result.data.totalVisit);
                        $("#info").append(story);
                        currentChapter = result.data.position;
                        if (result.data.position > 1) {
                            $('#pagination').append('<li class="page-item"><a class="page-link" href ="/singlechapter?chapterId=' + (result.data.position - 1) + '&storySeoName=@Model.StorySeoName">&lt;</a></li>');
                            $('#paginationhead').append('<li class="page-item"><a class="page-link" href ="/singlechapter?chapterId=' + (result.data.position - 1) + '&storySeoName=@Model.StorySeoName">&lt;</a></li>');
                        }
                    },
                    error: function (result) {
                        alert("Có lỗi xảy ra!")
                    }
                });
        }
        function LoadStory() {
                $.ajax({
                    url: `${configuration.BASE_API_URL}Story/getDetailbySeoName/@Model.StorySeoName`,
                    method: "GET",
                    success: function (result) {
                        $('#linkstory').attr('href', '/chapterList?seoName=@Model.StorySeoName&storyName=' + result.data.name);
                        $('#categoryName').attr('href', '/category?seoName=' + result.data.categorySeoName + '&categoryName=' + result.data.categoryName);
                        $('#authorName').append(result.data.authorName);
                        $('#StoryName').append(result.data.name);
                        $('#categoryName').append(result.data.categoryName);
                        if (result.data.totalChapters > currentChapter) {
                            $('#pagination').append('<li class="page-item"><a class="page-link" href ="/singlechapter?chapterId=' + (currentChapter + 1) + '&storySeoName=@Model.StorySeoName">&gt;</a></li>');
                            $('#paginationhead').append('<li class="page-item"><a class="page-link" href ="/singlechapter?chapterId=' + (currentChapter + 1) + '&storySeoName=@Model.StorySeoName">&gt;</a></li>');
                        }
                    },
                    error: function (result) {
                        alert("Có lỗi xảy ra!")
                    }
                });
    }
</script>
}
