@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thay đôi mật khẩu</title>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/lib/login-template/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/login-template/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/login-template/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/login-template/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/login-template/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/login-template/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/login-template/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/login-template/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/login-template/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/login-template/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/lib/login-template/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <div class="limiter">
                <div class="container-login100" style="background-image: url('/lib/login-template/images/bg-01.jpg');">
                    <div class="wrap-login100 p-l-65 p-r-65 p-t-30 p-b-33">
                        <form class="login100-form validate-form flex-sb flex-w" id="account" method="post">
                            <span class="login100-form-title p-b-10">
                                Thay Đổi Mật Mã
                            </span>
                            <div class="text-danger col-md-12 text-center" id="msgError"></div>
                            <div class="p-t-10 p-b-9">
                                <span class="txt1">
                                    <label for="oldPassword">Mật khẩu hiện tại</label>
                                </span>
                            </div>
                            <div class="wrap-input100 validate-input" data-validate="Cần có mật khẩu cũ">
                                <input type="password" class="form-control" id="oldPassword" />
                                <span class="focus-input100"></span>
                            </div>
                            <div class="p-t-13 p-b-9">
                                <span class="txt1">
                                    <label for="newPassword">Mật khẩu mới</label>
                                </span>
                            </div>
                            <div class="wrap-input100 validate-input" data-validate="Nhập mật khẩu mới">
                                <input type="password" class="form-control" id="newPassword" />
                                <span class="focus-input100"></span>
                            </div>
                            <div class="p-t-13 p-b-9">
                                <span class="txt1">
                                    <label for="confirmPassword">Xác thực mật khẩu mới</label>
                                </span>
                            </div>
                            <div class="wrap-input100 validate-input" data-validate="Nhập xác thực mật khẩu mới">
                                <input type="password" class="form-control" id="confirmPassword" />
                                <span class="focus-input100"></span>
                            </div>
                            <div class="container-login100-form-btn m-t-17">
                                <button type="button" onclick="changePassword()" class="login100-form-btn" id="btnUpdate">Thay Đổi</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="dropDownSelect1"></div>
        </div>
    </div>


    <!--===============================================================================================-->
    <script src="~/lib/login-template/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/login-template/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/login-template/vendor/bootstrap/js/popper.js"></script>
    <script src="~/lib/login-template/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/login-template/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/login-template/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/lib/login-template/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/login-template/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/login-template/js/main.js"></script>
    <script src="~/js/configuration.js"></script>
    <script src="~/js/Authentication.js"></script>    
</body>
</html>

