@page
@model LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/lib/login-template/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/login-template/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/login-template/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/login-template/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/login-template/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/login-template/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/login-template/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/login-template/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/login-template/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/login-template/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/lib/login-template/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <div class="limiter">
                <div class="container-login100" style="background-image: url('/lib/login-template/images/bg-01.jpg');">
                    <div class="wrap-login100 p-l-65 p-r-65 p-t-30 p-b-33">
                        <form class="login100-form validate-form flex-sb flex-w" id="account" method="post">
                            <span class="login100-form-title p-b-10">
                                LOGIN
                            </span>

                            <a href="#" class="btn-face m-b-10">
                                <i class="fa fa-facebook-official"></i>
                                Facebook
                            </a>

                            <a href="#" class="btn-google m-b-10">
                                <img src="/lib/login-template/images/icons/icon-google.png" alt="GOOGLE">
                                Google
                            </a>
                            <div class="text-danger"></div>
                            <div class="p-t-10 p-b-9">
                                <span class="txt1">
                                    <label for="username">Username</label>
                                </span>


                            </div>
                            <div class="wrap-input100 validate-input" data-validate="Username is required">
                                <input type="text"  class="form-control" id="username" />
                                <span class="focus-input100"></span>
                            </div>

                            <div class="p-t-13 p-b-9">
                                <span class="txt1">
                                    <label for="password"></label>
                                </span>
                            </div>
                            <div class="wrap-input100 validate-input" data-validate="Password is required">
                                <input type="password" class="form-control" id="password" />
                                <span class="focus-input100"></span>
                            </div>
                            <div class="container-login100-form-btn m-t-17">
                                <button type="button" onclick="login()" class="login100-form-btn">Log in</button>
                            </div>

                            <div class="w-full text-center p-t-10">
                                <a class="txt2 bo1" id="forgot-password" href="./ForgotPassword">Forgot your password?</a>
                            </div>
                            <div class="w-full text-center">
                                <span class="txt2">
                                    Not a member?
                                </span>
                                <a class="txt2 bo1" href="./Register" >Register now</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="dropDownSelect1"></div>
        </div>
    </div>


    <!--===============================================================================================-->
    <script src="~/lib/login-template/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/login-template/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/login-template/vendor/bootstrap/js/popper.js"></script>
    <script src="~/lib/login-template/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/login-template/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/login-template/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/lib/login-template/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/login-template/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/login-template/js/main.js"></script>
    <script src="~/js/configuration.js"></script>
    <script src="~/js/Authentication.js"></script>
</body>
</html>
