
<div class="user-profile" style="background: url(../assets/images/background/user-info.jpg) no-repeat;">
    <!-- User profile image -->
    <div class="profile-img"> <img src="../assets/images/users/profile.png" alt="user" id="avatar"/> </div>
    <!-- User profile text-->
    <div class="profile-text">
       <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" id="username">AAA</a>
       <div class="dropdown-menu animated flipInY">
           <a href="/Profile" class="dropdown-item"><i class="ti-user"></i> Thông tin</a>
           <div class="dropdown-divider"></div> <a href="/ChangePassword" class="dropdown-item"><i class="ti-settings"></i> Đổi mật khẩu</a>
           <div class="dropdown-divider"></div>
           <button id="logout" type="button" onclick="logout()" class="nav-link btn btn-link text-dark">  <i class="fa fa-power-off"></i>Logout</button>
       </div>
    </div>
</div>


